
<footer> 
    <div class="container">
        <div class="row">
            <div class="footer_left col-12 col-md-6 col-xl-6"> 
                   <ul>
                       <li>CONTACTO</li>
                       <li>Telefono: 11-4029-7391</li>
                       <li>Mail: printsym71@gmail.com</li>
                       <li>Horarios de Atención de Lunes a Viernes de 9 a 18 hs.</li>
                   </ul>
            </div>
            <div class="footer_right col-12 col-md-6 col-xl-6">
               <a href="https://www.facebook.com/SYMIMPRESIONES" target="_blank"><img class="img_footer" src="images/Facebook blanco.png" alt="Facebook"></a>    
               <a href="https://www.instagram.com/printsym/?hl=es-la" target="_blank"><img class="img_footer" src="images/IG blanco.png" alt="Instagram"></a>        
            </div>
        </div>
    </div>
</footer>