<main>
    <div class="container">
        <div class="row">
            <h2 class="title-main" >Nuestros productos</h2>
            <div class="col-12 col-xd-6 col-md-6 flex-left">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src='images/fest.jpeg' class="d-block w-100" alt="Cumple">
                              </div>
                              <div class="carousel-item">
                                <img src="images/Remera.jpeg" class="d-block w-100" alt="Remera">
                              </div>
                              <div class="carousel-item">
                                <img src="images/Vasos.jpg" class="d-block w-100" alt="Vaso">
                              </div>
                              <div class="carousel-item">
                                <img src="images/Portasube.jpeg" class="d-block w-100" alt="Sube">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
            </div>
            <div class="col-12 col-xd-6 col-md-6 flex-right">
                        <div class="main-texto-content">
                            <p class="main-p">Sabemos que lo importante en esta vida son los momentos, por eso creamos hace 6 años este espacio donde vas a poder conseguir todo para decorar tus eventos o simplemente hacer un regalo.<BR>Nuestro fin es que cada propuesta sea divertida y bonita, pero lo más importante <STRONG> ¡INOLVIDABLE! </STRONG> </p>
                        </div>
            </div>     
        </div>
    </div>
    
    </main>