<section>
    <div class="container">
        <div class="row temas">  
            <a class="temas-a col-12 col-md-4 col-lg-2" href="#l">Fiestas</a>
            <a class="temas-a col-12 col-md-4 col-lg-2"href="#">Indumentaria</a>
            <a class="temas-a col-12 col-md-4 col-lg-2"href="#">Bazar</a>
            <a class="temas-a col-12 col-md-4 col-lg-2" href="#">Merchandising</a>
            <a class="temas-a col-12 col-md-4 col-lg-2"href="#">Mascota</a>
            <a class="temas-a col-12 col-md-4 col-lg-2"href="#">Impresiones</a>                     
        </div>
    </div>


</section>

<section>
    <div class="container">
        <div class="row jc-sa ">
            <div class="card col-12 col-md-6 col-xl-2">
                <img class="img-card" src="images/Card_escolar.jpg" alt="Card_ajuar">
                <div class="card-info">
                  <h2>Kit Escolar</h2>
                  <p  class="card-p">Los más chicos arman su kit de sus diseños favoritos.</p>
                  <a class="btn bg-indigo" href="#" target="_blank">Ver información</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-xl-2">
                <img class="img-card" src="images/Card_banderin.jpg" alt="Card_cumpleaños">
                <div class="card-info">
                  <h2>Kit Cumpleaños</h2>
                  <p  class="card-p">Accesorios totalmente personalizados para festejar.</p>
                  <a class="btn bg-indigo" href="#" target="_blank">Ver información</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-xl-2">
                <img class="img-card" src="images/Card_taza.jpg" alt="Card_escolar">
                <div class="card-info">
                  <h2>Línea Bazar</h2>
                  <p  class="card-p">Material de calidad con diseños personalizados.</p>
                  <a class="btn bg-indigo" href="#" target="_blank">Ver información</a>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-xl-2">
              <img class="img-card" src="images/Card_escolar.jpg" alt="Card_ajuar">
              <div class="card-info">
                <h2>Kit Escolar</h2>
                <p  class="card-p">Los más chicos arman su kit de sus diseños favoritos.</p>
                <a class="btn bg-indigo" href="#" target="_blank">Ver información</a>
              </div>
          </div>
          <div class="card col-12 col-md-6 col-xl-2">
              <img class="img-card" src="images/Card_banderin.jpg" alt="Card_cumpleaños">
              <div class="card-info">
                <h2>Kit Cumpleaños</h2>
                <p  class="card-p">Accesorios totalmente personalizados para festejar.</p>
                <a class="btn bg-indigo" href="#" target="_blank">Ver información</a>
              </div>
          </div>
          <div class="card col-12 col-md-6 col-xl-2">
              <img class="img-card" src="images/Card_taza.jpg" alt="Card_escolar">
              <div class="card-info">
                <h2>Línea Bazar</h2>
                <p  class="card-p">Material de calidad con diseños personalizados.</p>
                <a class="btn bg-indigo" href="#" target="_blank">Ver información</a>
              </div>
           
        </div>
        <div class="card col-12 col-md-6 col-xl-2">
          <img class="img-card" src="images/Card_escolar.jpg" alt="Card_ajuar">
          <div class="card-info">
            <h2>Kit Escolar</h2>
            <p  class="card-p">Los más chicos arman su kit de sus diseños favoritos.</p>
            <a class="btn bg-indigo" href="#" target="_blank">Ver información</a>
          </div>
      </div>
      <div class="card col-12 col-md-6 col-xl-2">
        <img class="img-card" src="images/Card_escolar.jpg" alt="Card_ajuar">
        <div class="card-info">
          <h2>Kit Escolar</h2>
          <p  class="card-p">Los más chicos arman su kit de sus diseños favoritos.</p>
          <a class="btn bg-indigo" href="#" target="_blank">Ver información</a>
        </div>
    </div>
    </div>

</section>