<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header') %>
    <h2 class="container">Te estamos esperando!!!</h2>
    <p class="container"> 
        <br>
        En S&M Print pódrás obtener los productos personalizados <br>
        que buscás para tener momentos inolvidables. Llamanos al <br>
        teléfono <strong> 11-4029-7391 </strong> o mandanos un <br>
        mail a <strong>printsym71@gmail.com</strong> <br>
        Recordá que nuestroshorarios de Atención son de <br>
        Lunes a Viernes de 9 a 18 hs.</p>
    <%- include('../partials/footer') %>
</body>
</html>