<!DOCTYPE html>
<html lang="es">
 <head>
    <%- include('../partials/meta') %>
</head>
<body>

    <%- include('../partials/header') %>
    
    <h2 class="container">Hola!!!</h2>
    <p class="container"> 
        <br>
        Sabemos que lo importante en esta vida son los momentos, por eso creamos hace 
        6 años este espacio donde vas a poder conseguir todo para decorar tus eventos o 
        simplemente hacer un regalo.<BR>Nuestro fin es que cada propuesta sea divertida y 
        bonita, pero lo más importante <STRONG> ¡INOLVIDABLE! </STRONG> </p>
        </p>


    <%- include('../partials/footer') %>

</body>
</html>